@font-face { 
  font-family: 'Rockness'; src: url('../../assets/Rockness.otf'); 
  font-family: 'Rockness'; src: url('../../assets/Rockness.ttf');
}

.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 80px;
    padding: 10px 15px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}

svg {
  height: 55px;
  width: 75px;
  opacity: 0.8;
}

.logo-text {
  font-family: 'Rockness';
  font-size: 3em;
  width: 60%;
  padding: 10px;
}